# Target Market Analysis

In [1]:
from importlib import reload

import sys
import logging


sys.path.append('/Users/bichengwang/Documents/codes/python-notebook/src')
reload(sys)
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)
logger.propagate = True

In [23]:
import pandas as pd
import numpy as np
from tabulate import tabulate

def tabulate_printer(dic):
    return "\n{}".format(tabulate(
        [[k,v] for k, v in dic.items()], 
        headers=['Key', 'Value'], tablefmt='grid'))

# Define a custom converter function
def money_to_float(value):
    # Remove the dollar sign and commas
    value = value.replace('$', '').replace(',', '')
    value = "0" if not value else value
    # Check for parentheses to determine if it's a negative number
    if value.startswith('(') and value.endswith(')'):
        value = '-' + value[1:-1] if value[1:-1] else 0
    return float(value)

def loader(file_name='robinhood_report.csv'):
    return pd.read_csv(
        '/Users/bichengwang/Documents/codes/python-notebook/data/.local/{}'.format(file_name),
        converters={
            'Amount': money_to_float,
            'Price': money_to_float,
        },
    )

In [24]:
df = loader()
# Now df contains your data with the 'date' column parsed as datetime objects
df.head()

,Activity Date,Process Date,Settle Date,Instrument,Description,Trans Code,Quantity,Price,Amount
0,5/2/2024,5/2/2024,5/6/2024,SVIX,-1x Short VIX Futures ETF CUSIP: 92891H101,Buy,5,40.49,-202.45
1,5/2/2024,5/2/2024,5/6/2024,TSLA,Tesla CUSIP: 88160R101,Sell,24,176.63,4239.08
2,5/2/2024,5/2/2024,5/6/2024,VOO,Vanguard S&P 500 ETF CUSIP: 922908363,Buy,1,462.62,-462.62
3,5/1/2024,5/1/2024,5/3/2024,SPYV,SPDR Portfolio S&P 500 Value ETF CUSIP: 78464A508,Sell,1,47.76,47.76
4,5/1/2024,5/1/2024,5/3/2024,TSLA,Tesla CUSIP: 88160R101,Sell,25,179.50,4487.34

In [36]:
print(df[(df['Instrument'] == 'TSLA') & (df['Trans Code'].isin({'Buy', 'Sell'}))].groupby(['Trans Code', 'Instrument'])['Amount'].sum())

Trans Code  Instrument
Buy         TSLA         -485089.80
Sell        TSLA          485787.74
Name: Amount, dtype: float64